.rectangle {
  padding: 100px;
  position:relative;
  background: white;
  border: 1px black solid;
  margin-top: 30px;
  animation: anime1 2s infinite alternate ease-in-out;
}
@keyframes anime1 {
  0% {transform:rotate(-3deg);}
  100% {transform:rotate(3deg);}
}

.button {
  position:relative;
}
